<f:layout name="Default" />
<f:section name="main">

	<f:flashMessages />

	<style>
		.address_category { float: none !important; }
		.address_dropdown { font-size: 10pt; }
		.address_category_checkbox_all,
		.address_category_checkbox { margin: 5px; }
		.address_category_type_dropdown{ min-width: 20em; float: left !important; }
		.f3-widget-paginator { list-style: none; text-align: left;}
		.f3-widget-paginator > li { display: inline; margin: 0}
		.f3-widget-paginator > li.current { color: #CC0000;}
		.paginatehead { margin-top: 1em; text-align: left; width: 43.25em; color: gray; float:none; display: inline-block; }
		.f3-widget-paginator > li a { text-decoration: none; }
		.f3-widget-paginator > li { border: 1px solid silver; padding: 0.25em; background: #eee; text-align: center; display: inline-block; }
		.f3-widget-paginator > li.current { background: #ddd; font-weight: bold; color: red;}
		.f3-widget-paginator { margin: -10px 0px 10px 5px }
		.search-container { float: left; border: 1px solid #C0C0C0; margin: 0.25em; padding: 0.25em; height: 27px; background: #EEE none repeat scroll 0% 0%; line-height: 2.2em; width: 20em;}
		.distance-container { width: 22em;}
		.vcard .address_description img { float: right; }
		.tx-sic-address .vcard{ float: none; }
		.tx-sic-address .vcard dd { display: inline-block; }
		.f3-widget-paginator { margin-top: 5px; }
		.abisz .atoz_text { padding: 0.25em; width: 1.5em; border: 2px outset silver; background: #ddd; margin: 0.25em; float: left; text-align: center; font-weight: bold; text-decoration: none; }
		.abisz .atoz_Alle { width: 4.25em; }
		.abisz .deadlinkcolor { color: #fff; }
		.activelinkcolor { color: red !important; border: 2px inset silver !important;}
		.abisz { width: 40em; margin-bottom: 40px; padding-bottom: 40px; }
		.sorry { float:none; display: inline-block; margin: 10px; }
		.address_td { padding: 20px;}
	</style>

	<div class="address_searchoptions">
		<f:form id="sic_address_search_form" action="search">
			<f:if condition="{atoz}">
				<div class="abisz">
					<f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}" />
					<f:for each="{atoz}" as="value">
						<f:if condition="{value.active}">
							<f:then>
								<f:if condition="{value.character} == {atozvalue}">
									<f:then>
										<span class="activelinkcolor atoz_text atoz_{value.character}">{value.character}</span>
									</f:then>
									<f:else>
										<a href="#" class="atoz_text atoz_{value.character}" onclick="return submitAtoz('{value.character}');">{value.character}</a>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<span class="deadlinkcolor atoz_text">{value.character}</span>
							</f:else>
						</f:if>
					</f:for>
				</div>
			</f:if>
			<f:if condition="{settings.mainCategoryType} != 'none'">
				<f:if condition="{maincategories}">
					<f:form.hidden id="sic_address_main_category" name="maincategory" value="{maincategoryvalue}" />
					<div class="address_searchoptions address_category">
						<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_main_category_filter')}</b>
						<f:form.select class="address_dropdown" options="{maincategories}" optionValueField="uid" optionLabelField="title" value="{maincategoryvalue}"
									   additionalAttributes="{onchange: 'submitMainCategory(jQuery(this).val());'}" prependOptionValue="-1"
									   prependOptionLabel="Bitte auswählen" />
					</div>
				</f:if>
			</f:if>
			<f:if condition="{categories}">
				<f:if condition="{settings.categoryType} != 'none'">
					<div class="address_searchoptions address_category address_category_type_{settings.categoryType}">
						<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_category_filter')}</b>
						<f:render partial="Address/Categories" arguments="{categories:categories, categoryvalue:categoryvalue, checkall:checkall, settings:settings}" />
					</div>
				</f:if>
			</f:if>
			<f:if condition="{settings.distanceField} != 'none'">
				<f:form.hidden id="sic_address_distance" name="distance" value="{distancevalue}" />
				<div class="search-container distance-container">
					<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_filter')}</b>
					<select id="distance" class="address_dropdown" onchange="submitDistance(jQuery(this).val());">
						<option value="">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option1')}</option>
						<option value="1">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option2')}</option>
						<option value="5">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option3')}</option>
						<option value="10">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option4')}</option>
						<option value="15">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option5')}</option>
					</select>
				</div>
			</f:if>
			<f:if condition="{settings.queryField} != 'off'">
				<div class="search-container">
					<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_query_filter')}</b>
					<f:form.textfield  id="sic_address_query" name="query" class="search-input" style="font-size: 12px;" value="{queryvalue}" />
					<f:form.submit value="{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_query_button')}" class="search-submit" additionalAttributes="{onclick: 'submitQuery();'}" />
				</div>
			</f:if>
		</f:form>
	</div>
	<f:if condition="{addresses}">
		<f:then>
			<div class="paginatehead"></div>
			<table>
				<tbody>
				<f:for each="{addresses}" as="address" iteration="addressIterator">
					<tr class="{f:if(condition: addressIterator.isEven, then:'even')}{f:if(condition: addressIterator.isOdd, then:'odd')}">
						<td class="address_td">
							<f:if condition="{address.www}">
								<f:then>
									<f:link.external uri="{address.www}">
										<f:render partial="Address/Images" arguments="{address:address, imageWidth:'250', imageHeight:'250m'}" />
									</f:link.external>
								</f:then>
								<f:else>
									<f:render partial="Address/Images" arguments="{address:address, imageWidth:'250', imageHeight:'250m'}" />
								</f:else>
							</f:if>
						</td>
						<td class="address_td">
							<b><f:format.raw>{address.company}</f:format.raw></b><br>
							<span>{address.street}</span><br>
							<span>{address.zip} {address.city}</span><br><br>
							<f:if condition="{address.contacperson}">
								<i class="fa fa-user" aria-hidden="true"></i> {address.contacperson}<br/>
							</f:if>
							<f:if condition="{address.phone}">
								<i class="fa fa-phone" aria-hidden="true"></i> {address.phone}<br/>
							</f:if>
							<f:if condition="{address.contacperson}">
								<i class="fa fa-mobile" aria-hidden="true"></i> {address.mobile}<br/>
							</f:if>
							<f:if condition="{address.fax}">
								<i class="fa fa-fax" aria-hidden="true"></i> {address.fax}<br/>
							</f:if>
							<f:if condition="{address.mail}">
								<i class="fa fa-envelope" aria-hidden="true"></i><f:link.email email="{address.mail}" > {address.mail}</f:link.email><br/>
							</f:if>
							<f:if condition="{address.www}">
								<i class="fa fa-globe" aria-hidden="true"></i><f:link.external uri="{address.www}" target="_blank"> {address.www}</f:link.external>
							</f:if>
						</td>
					</tr>
				</f:for>
				</tbody>
			</table>
			<div class="paginatehead" style="margin-bottom: 0px;"></div>
		</f:then>
		<f:else>
			<div class="sorry">
				{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
			</div>
		</f:else>
	</f:if>

	<script>
		function documentReadyJsHook () {
			return false;
		}
	</script>

</f:section>
