<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />
	<style>
		.listview { width: 100%;}
		.category { margin-top: 10px; margin-bottom: 10px; }
		.sic_address_search { margin-top: 10px; margin-bottom: 10px; }
		.sorry { text-align: center; margin-top: 45px;}
		.tx-sic-address .listview > .list.row { position: relative; }
	</style>

	<div class="listview">
		<f:form id="sic_address_search_form" class="sic_search" action="search">
			<div class="abisz">
				<f:if condition="{atoz}">
					<f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}" />
					<f:for each="{atoz}" as="value">
						<f:if condition="{value.active}">
							<f:then>
								<f:if condition="{value.character} == {atozvalue}">
									<f:then>
										<span class="activelinkcolor">{value.character}</span><span class="divoc">|</span>
									</f:then>
									<f:else>
										<a class="lifelink" href="#" onclick="return submitAtoz('{value.character}');">{value.character}</a><span class="divoc">|</span>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<span class="deadlinkcolor">{value.character}</span><span class="divoc">|</span>
							</f:else>
						</f:if>
					</f:for>
				</f:if>
			</div>
			<div class="abisz_form">
				<div class="row">
					<div class="category col-xs-12 col-md-6">
						<f:if condition="{categories}">
                            <label>Branchen</label>
                            <f:render partial="Address/Categories" arguments="{categories:categories, categoryparentuid:categoryparentuid, categoryvalue:categoryvalue, settings:settings}" />
						</f:if>
					</div>
					<div class="sic_address_search col-xs-12 col-md-6">
						<f:if condition="{settings.queryField} != 'off'">
							<label>Suche</label>
							<form>
								<f:form.textfield id="sic_address_query" name="query" class="tx_nicosdirectory-pi1-small sic-address-input" style="font-size: 12px;" value="{queryvalue}" />
								<f:form.button type="submit" class="tx_nicosdirectory-pi1-small sic-address-search" additionalAttributes="{onclick: 'submitQuery();'}"/>
							</form>
						</f:if>
					</div>
				</div>
			</div>
		</f:form>
		<f:if condition="{addresses}">
			<f:then>
				<f:for each="{addresses}" as="address">
					<div class="sic_address_list row">
						<div class="col-xs-12">
							<h4>{address.company}</h4>
							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<f:if condition="{address.companymanager}">
										<p>	{address.companymanager}<br/>
												{address.street} {address.housenumber}<br>
												{address.zip} {address.city}</p>
									</f:if>
									<f:if condition="{address.telephone}">
										<i class="fa fa-phone" aria-hidden="true"></i>{address.telephone}<br/>
									</f:if>
									<f:if condition="{address.mobile}">
										<i class="fa fa-mobile" aria-hidden="true"></i>{address.mobile}<br/>
									</f:if>
									<f:if condition="{address.fax}">
										<i class="fa fa-fax" aria-hidden="true"></i>{address.fax}<br/>
									</f:if>

								</div>
								<div class="col-xs-12 col-sm-6">
									<p>
										<f:if condition="{address.email}">
											<i class="fa fa-desktop" aria-hidden="true"></i><f:link.email email="{address.email}">{address.email}</f:link.email><br/>
										</f:if>
										<f:if condition="{address.www}">
											<i class="fa fa-paper-plane" aria-hidden="true"></i><f:link.external uri="{address.www}" target="_blank">{address.www}</f:link.external><br/>
										</f:if>
										<i class="fa fa-map-marker" aria-hidden="true"></i><a href="https://maps.google.com/?q={address.street}+{address.housenumber}+{address.zip}+{address.city}+{address.company}" target="_blank">In Karte anzeigen</a>
									</p><br/>
									<f:if condition="{address.freetext}">
										<f:format.html>{address.freetext}</f:format.html>
									</f:if>
								</div>
							</div>
						</div>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<div class="sic_address_list row" style="height: 100px;">
					<div class="sorry">
						{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
					</div>
				</div>
			</f:else>
		</f:if>
	</div>

</f:section>