<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />

	<style>
		.listview { width: 100%;}
		.abisz { height: 22px; text-align: center; }
		.category { margin-top: 10px; margin-bottom: 10px; }
		.search { margin-top: 10px; margin-bottom: 10px; }
		.list { border: solid lightgrey 1px; margin: 5px;}
		.sorry { text-align: center; margin-top: 45px;}
	</style>

	<div class="listview">
		<div class="abisz">###ABISZ###</div>
		<div class="row">
			<div class="category col-xs-5 col-xs-offset-1">###KATEGORIE###</div>
			<div class="search col-xs-5">###SUCHE###</div>
		</div>

	<f:for each="{addresses}" as="address">
		<div class="list row">
			<div class="col-xs-4">
				<strong>{address.company}</strong><br><br>
				<f:link.email email="{address.email}">{address.email}</f:link.email><br>
				<f:link.external uri="{address.www}" target="_blank">{address.www}</f:link.external>
			</div>
			<div class="col-xs-4">
				{address.street}<br>
				{address.city}<br>
				{address.tel}<br>
				{address.fax}
			</div>
			<div class="col-xs-4">
				<f:if condition="{address.image}">
					<f:image treatIdAsReference="1" src="{address.image.uid}" width="100c" />
				</f:if>
			</div>
		</div>
	</f:for>

		<div height="22" align="center">
			###SEITEN###
		</div>
	</div>

</f:section>