{namespace sic=SICOR\SicAddress\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <div style="display: flex;gap: 1rem;">
        <f:form id="sicaddressmap" action="map">
            <div class="row">
                <label>Ortsteile</label>
                <f:form.textfield name="center" class="col" value="{args.center}" placeholder="Ortsteil"/>
                <!--f:form.select name="country" class="col" additionalAttributes="{onchange: 'this.form.submit()'}" options="{countries}" value="{args.country}" prependOptionLabel="Land" prependOptionValue="" /-->
                <!--f:form.select name="distance" class="col" additionalAttributes="{onchange: 'this.form.submit()'}" options="{distances}" value="{args.distance}" prependOptionLabel="Umkreis" prependOptionValue="" /-->
                <f:if condition="{filter}">
                    <label>Suche</label>
                    <f:render partial="Address/Filter" arguments="{filter:filter, filtervalue:filtervalue}" />
                </f:if>
            </div>
            <f:if condition="{settings.categoryType}">
                <div>
                <f:render partial="Address/Categories" arguments="{_all}"/>
                </div>
            </f:if>
        </f:form>
        <f:render partial="Address/Map" arguments="{_all}" />
    </div>

    <h1>
        <f:translate key="results" />
    </h1>
    <div class="row results">
        <f:for each="{addresses}" as="address">
            <div id="sic_address_marker_popup_{contentUid}_{address.uid}" class="col result">
                <f:if condition="{address.image}">
                    <f:image image="{address.image.0}" />
                </f:if>
                <strong>{address.name}</strong>
                <br>
                {address.address}
                <br>
                {address.zip} {address.city}
                <br>
                <f:if condition="{address.phone}">
                    Tel.: {address.phone}
                    <br>
                </f:if>
                <f:link.email email="{address.email}" />
                <br>
                <f:link.external uri="{address.www}" target="_blank">{address.www}</f:link.external>
            </div>
        </f:for>
    </div>
</f:section>
