{namespace sic=SICOR\SicAddress\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<div class="filterandmap">
		<div class="sic-address-categories">
			<div class="groups">
				<f:form id="massivmap" action="map">
					<f:form.hidden id="sic_address_category" name="currentCategories" value="{categoryvalue}" />
					<f:for each="{categories}" as="category" key="groupTitle">
						<div class="col sic_adress_col">
							<div class="group">
								<h2>{groupTitle}</h2>
								<f:for each="{category.children}" as="subCategory" key="title">
									<div class="checkbox {f:if(condition:'{subCategory.active}', then:'active')}">
										<label>
											<i class="fas fa-check"></i>
											<f:form.checkbox value="{subCategory.uid}" onclick="submitCheckbox('{subCategory.uid}');"
															 checked="{f:if(condition:'{subCategory.active}', then:'checked')}" />
											{title}
										</label>
										<f:if condition="{subCategory.arguments.marker}">
											<f:image image="{subCategory.arguments.marker}" width="30"/>
											<f:link.typolink class="sicfancybox" parameter="320"
															 additionalAttributes="{data-fancybox: ' ', data-type: 'iframe'}">
												<i class="fas fa-info"></i>
											</f:link.typolink>
										</f:if>
									</div>
								</f:for>
							</div>
						</div>
					</f:for>
					<script>
						function submitCheckbox(iCat) {
							var currentVal = jQuery('#sic_address_category').val();
							var cats = currentVal ? currentVal.split(",") : [];
							var bRemove = cats.indexOf(iCat);
							if (bRemove > -1) {
								cats.splice(bRemove, 1)
							} else {
								cats.push(iCat)
							}
							// Submit Category choice
							jQuery('#sic_address_category').val(cats.join());
							document.getElementById('massivmap').submit();
						}
					</script>
					<div class="col">
						<div class="group">
							<h2>Standort</h2>
							<div class="row">
								<f:form.select name="country" class="col form-control" options="{countries}"
											   additionalAttributes="{onchange: 'submitCountry();'}"
											   value="{args.country}"/>
							</div>
							<div class="row">
								<f:form.textfield id="mapcenter" name="center" class="col form-control massivplz{f:if(condition:'{centerNotFound}', then:' mapcentererror')}" value="{args.center}"
												  placeholder="PLZ"/>
								<f:form.select id="mapdistance" name="distance" class="col form-control"
											   additionalAttributes="{onchange: 'this.form.submit()'}"
											   options="{distances}"
											   value="{args.distance}" prependOptionLabel="Umkreis"
											   prependOptionValue=""/>
							</div>
						</div>
					</div>
					<script>
						function submitCountry() {
							jQuery('#mapcenter').val('');
							jQuery('#mapdistance').prop('selectedIndex',0);
							document.getElementById('massivmap').submit();
						}
					</script>
				</f:form>
			</div>
		</div>
		<f:render partial="Address/Map" arguments="{_all}" />
	</div>
	<br />
	<br />
	<div class="hitlist">
		<h1>
			<f:translate key="results"/>
		</h1>
		<div class="row results">
			{f:variable(name: 'firstHersteller', value: '1')}
			<f:for each="{addresses}" as="address" iteration="i">
				<f:for each="{address.categories}" as="cat">
					<f:if condition="{cat.uid} === 35">
						<f:if condition="{firstHersteller}">
							<div class="col-12"><h2>Hersteller</h2></div>
						</f:if>
						{f:variable(name: 'firstHersteller', value: '0')}
						<f:render section="result" arguments="{address: address, contentUid: contentUid}"/>
					</f:if>
				</f:for>
			</f:for>
		</div>
		<div class="row results">
			{f:variable(name: 'firstPartner', value: '1')}
			<f:for each="{addresses}" as="address">
				<f:for each="{address.categories}" as="cat">
					<f:if condition="{cat.uid} === 36">
						<f:if condition="{firstPartner}">
							<div class="col-12"><h2>Partner</h2></div>
						</f:if>
						{f:variable(name: 'firstPartner', value: '0')}
						<f:render section="result" arguments="{address: address, contentUid: contentUid}"/>
					</f:if>
				</f:for>
			</f:for>
		</div>
	</div>
</f:section>

<f:section name="result">
	<div id="sic_address_marker_popup_{contentUid}_{address.uid}"
		 style="display: {f:if(condition: '{address.position} == 1', then: 'none', else: 'block')}"
		 class="col-12 col-sm-6 col-md-4 result">
		<strong>{address.company}</strong><br/>
		{address.address}<br/>
		{address.zip} {address.city}<br/>
		<f:if condition="{address.country}">
			{address.country}<br/>
		</f:if>
		<f:if condition="{address.phone}">
			Tel.: <f:link.external uri="tel:{address.phone}">{address.phone}</f:link.external><br/>
		</f:if>
		<f:if condition="{address.email}">
			<f:link.email email="{address.email}" /><br/>
		</f:if>
		<f:if condition="{address.www}">
			<f:link.external uri="{address.www}" target="_blank">{address.www}</f:link.external>
		</f:if><br /><br/>
	</div>
</f:section>
