<f:layout name="Default" />
<f:section name="main">

	<f:flashMessages />

	<style>
		.address_category { float: none !important; }
		.address_category_dropdown { font-size: 10pt; }
		.f3-widget-paginator { list-style: none; text-align: left;}
		.f3-widget-paginator > li { display: inline; margin: 0}
		.f3-widget-paginator > li.current { color: #CC0000;}
		.paginatehead { margin-top: 1em; text-align: left; width: 43.25em; color: gray; float:none; display: inline-block; }
		.f3-widget-paginator > li a { text-decoration: none; }
		.f3-widget-paginator > li { border: 1px solid silver; padding: 0.25em; background: #eee; text-align: center; display: inline-block; }
		.f3-widget-paginator > li.current { background: #ddd; font-weight: bold; color: red;}
		.f3-widget-paginator { margin: -10px 0px 10px 5px }
		.search-container { border: 1px solid #C0C0C0; margin: 0.25em;  padding: 0.25em;  height: 2em;  background: #EEE none repeat scroll 0% 0%; width: 20em; }
		.vcard .address_description img { float: right; }
		.tx-sic-address .vcard{ float: none; }
		.tx-sic-address .vcard dd { display: inline-block; }
		.f3-widget-paginator { margin-top: 5px; }
		.address_category_type_dropdown{ min-width: 20em; float: left !important; }
		.search-container { float: left; height: 27px; line-height: 2.2em; }
		.abisz .atoz_text { padding: 0.25em; width: 1.5em; border: 2px outset silver; background: #ddd; margin: 0.25em; float: left; text-align: center; font-weight: bold; text-decoration: none; }
		.abisz .atoz_all { width: 4.25em; }
		.abisz .deadlinkcolor { color: #fff; }
		.abisz { width: 40em; margin-bottom: 40px; padding-bottom: 40px; }
	</style>

	<div class="address_searchoptions">
	<span>{codata.pid}</span>
		<f:form id="sic_address_search_form" action="search">
			<f:if condition="{atoz}">
				<div class="abisz">
					<f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}" />
					<f:for each="{atoz}" as="value">
						<f:if condition="{value.active}">
							<f:then>
								<f:if condition="{value.character} == {atozvalue}">
									<f:then>
										<f:if condition="{value.character} == 'alle'">
											<f:then>
												<span class="activelinkcolor atoz_text atoz_all">{value.character}</span>
											</f:then>
											<f:else>
												<span class="activelinkcolor atoz_text">{value.character}</span>
											</f:else>
										</f:if>
									</f:then>
									<f:else>
										<f:if condition="{value.character} == 'alle'">
											<f:then>
												<a href="#" class="atoz_text atoz_all" onclick="return submitAtoz('{value.character}');">{value.character}</a>
											</f:then>
											<f:else>
												<a href="#" class="atoz_text" onclick="return submitAtoz('{value.character}');">{value.character}</a>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{value.character} == 'alle'">
									<f:then>
										<span class="deadlinkcolor atoz_text atoz_all">{value.character}</span>
									</f:then>
									<f:else>
										<span class="deadlinkcolor atoz_text">{value.character}</span>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</div>
			</f:if>
			<f:if condition="{categories}">
				<f:if condition="{settings.categoryType} != 'none'">
					<div class="address_searchoptions address_category address_category_type_{settings.categoryType}"><b>
						Rubriken:
						<f:render partial="Address/Categories" arguments="{categories:categories, categoryparentuid:categoryparentuid, categoryvalue:categoryvalue, settings:settings}" />
					</b></div>
				</f:if>
			</f:if>
			<f:if condition="{queryactive}">
				<div class="search-container">
					<span>Suche:</span>
					<f:form.textfield id="sic_address_query" name="query" class="search-input" style="font-size: 12px;" value="{queryvalue}" />
					<f:form.submit value="Los!" class="search-submit"  additionalAttributes="{onclick: 'submitQuery();'}" />
				</div>
			</f:if>
		</f:form>
	</div>
	<f:if condition="{addresses}">
		<f:then>
			<div class="paginatehead">
				<f:count subject="{addresses}" /> Ergebnisse
			</div>
			<f:widget.paginate objects="{addresses}" as="addresspage" configuration="{itemsPerPage: 10, maximumNumberOfLinks: 9,
						insertAbove: '{f:if(condition:\'{addresses -> f:count()} > 10\',then:1,else:0)}',
						insertBelow: '{f:if(condition:\'{addresses -> f:count()} > 10\',then:1,else:0)}'}">
				<table>
					<thead>
						<tr>
							<th id="anschrift">Anschrift</th>
							<th id="kontaktdaten">Kontaktdaten</th>
							<th id="bemerkungen">Bemerkungen</th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{addresspage}" as="address" iteration="addressIterator">
							<tr class="{f:if(condition: addressIterator.isEven, then:'even')}{f:if(condition: addressIterator.isOdd, then:'odd')}">
								<td headers="anschrift">
									<b>{address.company}</b><br>
									<span>{address.title} {address.name}</span><br>
									<span>{address.address}</span><br><br>
									<span>{address.zip} {address.city}</span>
								</td>
								<td headers="kontaktdaten">
									<f:if condition="{address.phone}">
										<span>Tel. {address.phone}</span><br>
									</f:if>
									<f:if condition="{address.fax}">
										<span>Fax&nbsp;{address.fax}</span><br>
									</f:if>
									<f:if condition="{address.www}">
										<f:link.external uri="{address.www}" target="_blank" title="Externer Link, öffnet sich in neuem Browserfenster" class="linkExt">Internetseite</f:link.external><br>
									</f:if>
									<f:if condition="{address.email}">
										<f:link.email email="{address.email}" class="linkmailto">eMail</f:link.email>
									</f:if>
								</td>
								<td headers="bemerkungen">
									<f:format.html>{address.description}</f:format.html>
									<f:if condition="{address.txCronmmaddressOpeninghours}">
										<b>&Ouml;ffnungszeiten:</b>
										<f:format.html>{address.txCronmmaddressOpeninghours}</f:format.html>
									</f:if>
									<f:if condition="{address.categories}">
										<br/><br/><span class="groupList">(<f:for each="{address.categories}" as="category" iteration="index"><f:if condition="{index.isFirst} != '1'">, </f:if>{category.title}</f:for>)</span>
									</f:if>
								</td>
							</tr>
						</f:for>
					</tbody>
				</table>
				<div class="paginatehead" style="margin-bottom: 0px;"></div>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<div class="list row" style="height: 100px;">
				<div class="sorry">
					{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
				</div>
			</div>
		</f:else>
	</f:if>

	<script>
		function documentReadyJsHook () {
			// Hide right side list boxes when no info is given
			$('.address_description').each(function() {
				if($.trim($(this).html()).length < 1)
					$(this).css('display', 'none');
			});
			$('.previous > a').each(function() {
				$(this).html('zur&uuml;ck');
			});
			$('.next > a').each(function() {
				$(this).html('weiter');
			});
		}
	</script>

</f:section>