<f:layout name="Default" />
<f:section name="main">

	<f:flashMessages />

	<style>
		.address_category { float: none !important; }
		.address_category_dropdown { font-size: 10pt; }
		.f3-widget-paginator { list-style: none; text-align: left;}
		.f3-widget-paginator > li { display: inline; margin: 0}
		.f3-widget-paginator > li.current { color: #CC0000;}
		.paginatehead { margin-top: 1em; text-align: left; width: 43.25em; color: gray; float:none; display: inline-block; }
		.f3-widget-paginator > li a { text-decoration: none; }
		.f3-widget-paginator > li { border: 1px solid silver; padding: 0.25em; background: #eee; text-align: center; display: inline-block; }
		.f3-widget-paginator > li.current { background: #ddd; font-weight: bold; color: red;}
		.f3-widget-paginator { margin: -10px 0px 10px 5px }
		.search-container { border: 1px solid #C0C0C0; margin: 0.25em;  padding: 0.25em;  height: 2em;  background: #EEE none repeat scroll 0% 0%; width: 20em; }
		.vcard .address_description img { float: right; }
		.tx-sic-address .vcard{ float: none; }
		.tx-sic-address .vcard dd { display: inline-block; }
		.f3-widget-paginator { margin-top: 5px; }
		.address_category_type_dropdown{ min-width: 20em; float: left !important; }
		.search-container { float: left; height: 27px; line-height: 2.2em; }
		.abisz .atoz_text { padding: 0.25em; width: 1.5em; border: 2px outset silver; background: #ddd; margin: 0.25em; float: left; text-align: center; font-weight: bold; text-decoration: none; }
		.abisz .atoz_Alle { width: 4.25em; }
		.abisz .deadlinkcolor { color: #fff; }
		.abisz { width: 40em; margin-bottom: 40px; padding-bottom: 40px; }
		.sorry { float:none; display: inline-block; margin: 10px; }

	</style>

	<div class="address_searchoptions">
		<f:form id="sic_address_search_form" action="search">
			<f:if condition="{atoz}">
				<div class="abisz">
					<f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}" />
					<f:for each="{atoz}" as="value">
						<f:if condition="{value.active}">
							<f:then>
								<f:if condition="{value.character} == {atozvalue}">
									<f:then>
										<span class="activelinkcolor atoz_text atoz_{value.character}">{value.character}</span>
									</f:then>
									<f:else>
										<a href="#" class="atoz_text atoz_{value.character}" onclick="return submitAtoz('{value.character}');">{value.character}</a>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<span class="deadlinkcolor atoz_text">{value.character}</span>
							</f:else>
						</f:if>
					</f:for>
				</div>
			</f:if>
			<f:if condition="{categories}">
				<f:if condition="{settings.categoryType} != 'none'">
					<div class="address_searchoptions address_category address_category_type_{settings.categoryType}">
						<b>Rubriken:</b>
						<f:render partial="Address/Categories" arguments="{categories:categories, categoryparentuid:categoryparentuid, categoryvalue:categoryvalue, settings:settings}" />
					</b></div>
				</f:if>
			</f:if>
			<f:if condition="{queryactive}">
				<div class="search-container">
					<b>Suche:</b>
					<f:form.textfield  id="sic_address_query" name="query" class="search-input" style="font-size: 12px;" value="{queryvalue}" />
					<f:form.submit value="Los!" class="search-submit" additionalAttributes="{onclick: 'submitQuery();'}" />
				</div>
			</f:if>
		</f:form>
	</div>
	<f:if condition="{addresses}">
		<f:then>
			<div class="paginatehead">
				<f:count subject="{addresses}" /> Ergebnisse
			</div>
			<f:widget.paginate objects="{addresses}" as="addresspage" configuration="{itemsPerPage: 10, maximumNumberOfLinks: 9,
						insertAbove: '{f:if(condition:\'{addresses -> f:count()} > 10\',then:1,else:0)}',
						insertBelow: '{f:if(condition:\'{addresses -> f:count()} > 10\',then:1,else:0)}'}">
				<f:render partial="Address/MMLists" arguments="{settings:settings, addresspage:addresspage}" />
				<div class="paginatehead" style="margin-bottom: 0px;"></div>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<div class="sorry">
				{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
			</div>
		</f:else>
	</f:if>

	<script>
		function documentReadyJsHook () {
			// Hide right side list boxes when no info is given
			$('.address_description').each(function() {
				if($.trim($(this).html()).length < 1)
					$(this).css('display', 'none');
			});
			$('.previous > a').each(function() {
				$(this).html('zur&uuml;ck');
			});
			$('.next > a').each(function() {
				$(this).html('weiter');
			});
		}
	</script>

</f:section>