<!--###TOPVIEW###-->
<style>
    .listview { width: 100%;}
    .abisz { height: 22px; text-align: center; }
    .category { margin-top: 10px; margin-bottom: 10px; }
    .search { margin-top: 10px; margin-bottom: 10px; }
    .list { border: solid lightgrey 1px; margin: 5px;}
    .sorry { text-align: center; margin-top: 45px;}
</style>
<div class="listview">
    <div class="abisz">###ABISZ###</div>
    <div class="row">
        <div class="category col-xs-5 col-xs-offset-1">###KATEGORIE###</div>
        <div class="search col-xs-5">###SUCHE###</div>
    </div>
<!--###TOPVIEW###-->

<!--###LISTVIEW###-->
    <div class="list row">
        <div class="col-xs-4">
            <strong>###NAME###</strong><br>
            ###VORNAME###</font><br>
            ###EMAIL###</font><br>
            ###WWW###</font>
        </div>
        <div class="col-xs-4">
            ###STRASSE###<br>
            ###ORT###<br>
            ###TEL###<br>
            ###FAX###
        </div>
        <div class="col-xs-4">
            ###BILD###
        </div>
    </div>
<!--###LISTVIEW###-->

<!--###BOTTOMVIEW###-->
    <div height="22" align="center">
        ###SEITEN###
    </div>
</div>
<!--###BOTTOMVIEW###-->

<!--###NOVIEW###-->
<div class="list row" style="height: 100px;">
    <div class="sorry">
        ###SORRY###
    </div>
</div>
<!--###NOVIEW###-->