<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />
	<style>
		.listview { width: 100%;}
		.abisz { height: 22px; text-align: center; }
		.category { margin-top: 10px; margin-bottom: 10px; }
		.search { margin-top: 10px; margin-bottom: 10px; }
		.sorry { text-align: center; margin-top: 45px;}
		.image > img { float: right; padding: 5px; }
		.activelinkcolor { color: #CC0000;}
		.deadlinkcolor { color: #999999;}
	</style>

	<div class="listview">
		<f:form id="sic_address_search_form" action="search">
			<div class="abisz">
				<f:if condition="{atoz}">
					<f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}" />
					<f:for each="{atoz}" as="value">
						<f:if condition="{value.active}">
							<f:then>
								<f:if condition="{value.character} == {atozvalue}">
									<f:then>
										<span class="activelinkcolor">{value.character}</span>
									</f:then>
									<f:else>
										<a href="#" onclick="return submitAtoz('{value.character}');">{value.character}</a>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<span class="deadlinkcolor">{value.character}</span>
							</f:else>
						</f:if>
					</f:for>
				</f:if>
			</div>
			<div class="row">
				<div class="category col-xs-7">
					<div class="address-select">
						<h4 style="display:inline;">Gesuchtes Produkt:</h4>&nbsp;
						<f:if condition="{filter}">
							<f:render partial="Address/Filter" arguments="{filter:filter, filtervalue:filtervalue}" />
						</f:if>
					</div>
				</div>
				<div class="search col-xs-5">
					<f:if condition="{settings.queryField} != 'off'">
						<f:form.textfield id="sic_address_query" name="query" class="tx_nicosdirectory-pi1-small" style="font-size: 12px;" value="{queryvalue}" />
						<f:form.submit value="Suche" class="tx_nicosdirectory-pi1-small" additionalAttributes="{onclick: 'submitQuery();'}" />
					</f:if>
				</div>
			</div>
		</f:form>
		<f:if condition="{addresses}">
			<f:then>
				<f:widget.paginate objects="{addresses}" as="addresspage"
													 configuration="{itemsPerPage: 12, insertAbove: 0, insertBelow: 1, addQueryStringMethod: 'POST,GET'}">
					<div class="list row">
						<f:for each="{addresspage}" as="address">
							<div class="address col-md-4">
								<div class="address-wrap">
									<f:for each="{address.produkt}" as="produkt">
										<h4>{produkt.title}</h4>
									</f:for>
									<div class="address-block">
										<div class="address-image">
											<f:render partial="Address/Images" arguments="{address:address, imageWidth:'150c'}" />
										</div>
										<strong>{address.company}</strong><br>
										<f:format.html>{address.firmenzusatz}</f:format.html>
										<p>{address.strasse}<br>
										{address.plz} {address.ort}
										<f:if condition="{address.postfach}">
											{address.postfach}<br>
										</f:if>
										{address.postfachPlz} {address.postfachOrt}</p>
										<p>{address.telefon}<br>
										{address.fax}</p>
										<p>
										<f:if condition="{address.email}">
											<f:link.email email="{address.email}">{address.email}</f:link.email><br>
										</f:if>
										<f:if condition="{address.linkUrl}">
											<f:link.external uri="{address.linkUrl}" target="_blank">{address.linkText}</f:link.external>
										</f:if></p>
									</div>
								</div>
							</div>
						</f:for>
					</div>
				</f:widget.paginate>
			</f:then>
			<f:else>
				<div class="list row" style="height: 100px;">
					<div class="sorry">
						{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
					</div>
				</div>
			</f:else>
		</f:if>
	</div>

</f:section>