<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <dl class="vcard">
        <dd class="vcard" itemscope>
            <f:if condition="{address.categories}">
                <f:translate key="export.categories" />:
                <br />
                <ul>
                    <f:for each="{address.categories}" as="category">
                        <li itemprop="category">{category.title}</li>
                    </f:for>
                </ul>
            </f:if>
            <f:render partial="Address/Images" arguments="{address:address}" />
            <f:if condition="{address.company}">
                <b itemprop="company">{address.company}</b>
                <br />
                <br />
            </f:if>
            <f:if condition="{address.address}">
                <address itemprop="address">{address.address}</address>
                <br>
            </f:if>
            <f:if condition="{address.zip}">
                <span itemprop="zip">{address.zip}</span>
            </f:if>
            <f:if condition="{address.city}">
                <span itemprop="city">{address.city}</span>
                <br />
                <br />
            </f:if>
            <f:if condition="{address.phone}">
                Tel.:&nbsp;
                <a itemprop="tel" href="tel:{address.phone}">{address.phone}</a>
                <br />
            </f:if>
            <f:if condition="{address.fax}">
                Fax:&nbsp;
                <span itemprop="fax">{address.fax}</span>
                <br />
                <br />
            </f:if>
            <f:if condition="{address.email}">
                <f:link.email additionalAttributes="{itemprop:'email'}" email="{address.email}" />
                <br />
                <br />
            </f:if>
            <f:if condition="{settings.routeplanner}">
                <f:if condition="{address.address} && {address.zip} && {address.city}">
                    <a href="https://maps.google.com/?q={address.address}+{address.zip}+{address.city}+{address.company}" target="_blank">In Google Maps öffnen</a>
                </f:if>
            </f:if>
            <f:if condition="{listPageUid}">
                <f:then>
                    <f:link.action pageUid="{listPageUid}">zurück</f:link.action>
                </f:then>
                <f:else>
                    <a href="javascript:history.back()">zurück</a>
                </f:else>
            </f:if>
        </dd>
    </dl>
</f:section>
