<f:layout name="Default" />
<f:section name="main">

  <f:flashMessages />

  <dl class="vcard">
    <dd class="vcard">
      <f:if condition="{addresses.0.image}">
        <img src="{addresses.0.image}><br>
			</f:if>
			<f:if condition="{addresses.0.company}">
        <span><b>{addresses.0.company}</b></span><br>
      </f:if>
      <f:if condition="{addresses.0.building}">
        <span>{addresses.0.building}</span>
      </f:if>
      <f:if condition="{addresses.0.building}">
        <span>{addresses.0.building}</span>
      </f:if>
      <f:if condition="{addresses.0.room}">
        <span>, {addresses.0.room}</span>
      </f:if>
      <f:if condition="{addresses.0.address}">
        <br><span>{addresses.0.address}</span>
      </f:if>
      <f:if condition="{addresses.0.zip}">
        <br><br><span>{addresses.0.zip}</span>
      </f:if>
      <f:if condition="{addresses.0.city}">
        <span> {addresses.0.city}</span>
      </f:if>
      <f:if condition="{addresses.0.phone}">
        <br><br><span>{addresses.0.phone}</span><br>
      </f:if>
      <f:if condition="{addresses.0.fax}">
        <br><span>{addresses.0.fax}</span>
      </f:if>
      <f:if condition="{addresses.0.email}">
        <br><br><a href="mailto:{addresses.0.email}">{addresses.0.email}</a>
      </f:if>
    </dd>
  </dl>

</f:section>