<f:layout name="Default"/>
<f:section name="main">

    <f:flashMessages/>

    <dl class="vcard">
        <dd class="vcard">
            <f:if condition="{address.categories}">
                Kategorien:<br />
                <ul>
                    <f:for each="{address.categories}" as="category">
                        <li>{category.title}</li>
                    </f:for>
                </ul>
            </f:if>
            <f:render partial="Address/Images" arguments="{address:address}" />
			<f:if condition="{address.company}">
                <b>{address.company}</b><br /><br />
            </f:if>
            <f:if condition="{address.address}">
                {address.address}<br>
            </f:if>
            <f:if condition="{address.zip}">
                {address.zip}
            </f:if>
            <f:if condition="{address.city}">
                 {address.city}<br /><br />
            </f:if>
            <f:if condition="{address.phone}">
                Tel.:&nbsp;{address.phone}<br />
            </f:if>
            <f:if condition="{address.fax}">
                Fax:&nbsp;{address.fax}<br /><br />
            </f:if>
            <f:if condition="{address.email}">
                <a href="mailto:{address.email}">{address.email}</a><br /><br />
            </f:if>
            <f:if condition="{listPageUid}">
                <f:then>
                    <f:link.action pageUid="{listPageUid}">zurück</f:link.action>
                </f:then>
                <f:else>
                    <a href="javascript:history.back()">zurück</a>
                </f:else>
            </f:if>

        </dd>
    </dl>

</f:section>
