<f:layout name="Default" />
<f:section name="main">
	<f:flashMessages />
	<style>
		.listview { width: 100%;}
		.sic_address_atoz { height: 22px; text-align: center; }
		.sic_address_atoz_activelink { color: #CC0000;}
		.sic_address_atoz_deadlink { color: #999999;}
		.category { margin-top: 10px; margin-bottom: 10px; }
		.search { margin-top: 10px; margin-bottom: 10px; }
		.list { border: solid lightgrey 1px; margin: 5px;}
		.sorry { text-align: center; margin-top: 45px;}
		.image > img { float: right; padding: 5px; }
		.f3-widget-paginator { list-style: none; text-align: center;}
		.f3-widget-paginator > li { display: inline; }
		.f3-widget-paginator > li.current { color: #CC0000;}
		.f3-widget-paginator > li.previous,
		.f3-widget-paginator > li.next  { display:none; }
		.f3-widget-paginator::before { content: 'Seite'; }
	</style>
	<div class="listview {settings.listType}">
		<f:switch expression="{settings.listType}">
			<f:case value="2column"><f:render partial="List/2ColumnType" arguments="{_all}"/></f:case>
			<f:case value="3column"><f:render partial="List/3ColumnType" arguments="{_all}"/></f:case>
			<f:case value="marginal"><f:render partial="List/MarginalType" arguments="{_all}"/></f:case>
			<f:case value="map"><f:render partial="List/MapType" arguments="{_all}"/></f:case>
			<f:defaultCase><f:render partial="List/VCardType" arguments="{_all}"/></f:defaultCase>
		</f:switch>
	</div>
</f:section>
