<f:layout name="Default" />
<f:section name="main">

	<f:flashMessages />

	<style>
		.tx-sic-address .sic_address_search { padding:20px; padding:1.25rem; background:#f2f2f2 }
		.tx-sic-address .sic_address_search .sic_address_atoz { display:flex; justify-content:space-between }
		.tx-sic-address .sic_address_search .sic_address_atoz a,.tx-sic-address .sic_address_search .sic_address_atoz span { padding:7px 12px; padding:0.4375rem 0.75rem; background:#fff; display:block }
		.tx-sic-address .sic_address_search .sic_address_atoz a:hover,.tx-sic-address .sic_address_search .sic_address_atoz span:hover,.tx-sic-address .sic_address_search .sic_address_atoz a.activelinkcolor,.tx-sic-address .sic_address_search .sic_address_atoz .sic_address_atoz_activelink { background:#002c5a; color:#fff; display:block }
		.tx-sic-address .sic_address_search .sic_address_atoz .sic_address_atoz_deadlink { display: none;}
		.tx-sic-address .sic_address_resultcount { padding:5px 20px; padding:0.3125rem 1.25rem; margin-top:3px; margin-top:0.1875rem; background:#f2f2f2; font-style:italic }
		.tx-sic-address #sic_address_results .card { border:none }
		.tx-sic-address #sic_address_results .card .card-header { padding:0; border-radius:0; border-bottom:1px solid rgba(0, 0, 0, 0.3); background:transparent }
		.tx-sic-address #sic_address_results .card .card-header a { padding:10px 45px 10px 20px; padding:0.625rem 2.8125rem 0.625rem 1.25rem; display:block; font-weight:700; position:relative }
		.tx-sic-address #sic_address_results .card .card-header a:before { content:"\f106"; font:normal normal normal 21px/1 'FontAwesome'; position:absolute; top:50%; right:20px; transform:translateY(-50%) }
		.tx-sic-address #sic_address_results .card .card-header a.collapsed:before { content:"\f107"; font:normal normal normal 21px/1 'FontAwesome' }
	</style>

	<div class="sic_address_search">
		<f:form id="sic_address_search_form" action="search">
			<f:form.hidden id="sic_address_currentpage" name="currentPage" value="{pagination.currentPage}" />
			<f:if condition="{atoz}">
				<f:render partial="Address/Atoz" arguments="{atoz:atoz, atozvalue:atozvalue}"/>
			</f:if>
			<f:if condition="{filter}">
				<f:render partial="Address/Filter" arguments="{filter:filter, filtervalue:filtervalue}" />
			</f:if>
			<f:if condition="{settings.mainCategoryType} != 'none'">
				<f:if condition="{maincategories}">
					<f:form.hidden id="sic_address_main_category" name="maincategory" value="{maincategoryvalue}" />
					<div class="address_searchoptions address_category">
						<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_main_category_filter')}</b>
						<f:form.select class="address_dropdown" options="{maincategories}" optionValueField="uid" optionLabelField="title" value="{maincategoryvalue}"
									   additionalAttributes="{onchange: 'submitMainCategory(jQuery(this).val());'}" prependOptionValue="-1"
									   prependOptionLabel="Bitte auswählen" />
					</div>
				</f:if>
			</f:if>
			<f:if condition="{categories}">
				<f:if condition="{settings.categoryType} != 'none'">
					<div class="address_searchoptions address_category address_category_type_{settings.categoryType}">
						<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_category_filter')}</b>
						<f:render partial="Address/Categories" arguments="{categories:categories, categoryvalue:categoryvalue, checkall:checkall, settings:settings}" />
					</div>
				</f:if>
			</f:if>
			<f:if condition="{settings.distanceField} != 'none'">
				<f:form.hidden id="sic_address_distance" name="distance" value="{distancevalue}" />
				<div class="search-container distance-container">
					<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_filter')}</b>
					<select id="distance" class="address_dropdown" onchange="submitDistance(jQuery(this).val());">
						<option value="">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option1')}</option>
						<option value="1">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option2')}</option>
						<option value="5">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option3')}</option>
						<option value="10">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option4')}</option>
						<option value="15">{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_distance_option5')}</option>
					</select>
				</div>
			</f:if>
			<f:if condition="{settings.queryField} != 'off'">
				<div class="search-container">
					<b>{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_query_filter')}</b>
					<f:form.textfield  id="sic_address_query" name="query" class="search-input" style="font-size: 12px;" value="{queryvalue}" />
					<f:form.submit value="{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_query_button')}" class="search-submit" additionalAttributes="{onclick: 'submitQuery();'}" />
				</div>
			</f:if>
		</f:form>
	</div>
	<f:if condition="{addresses}">
		<f:then>
			<div class="sic_address_resultcount">
				<f:count subject="{addresses}" /> {f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:frontend_results')}
			</div>
			<f:switch expression="{settings.listType}">
				<f:case value="vcard">
					<div id="sic_address_results">
						<f:for each="{addresses}" as="address" key="index">
							<div class="card">
								<div class="card-header" id="heading{index}">
									<a class="collapsed" data-toggle="collapse" data-target="#collapse{index}" aria-expanded="false" aria-controls="collapse{index}">
										{address.company}
									</a>
								</div>

								<div id="collapse{index}" class="collapse" aria-labelledby="heading{index}" data-parent="#sic_address_results">
									<div class="card-body">
										<div class="row">
											<div class="col-lg-8">

												<f:format.html><b>Beschreibung</b><br/>{address.description}</f:format.html>
											</div>

											<div class="col-lg-4">
												<p>
													<b>Kontakt</b><br/>
													<f:if condition="{address.name}">
														{address.name}<br/>
													</f:if>
													<f:if condition="{address.zip}">
														{address.zip}
													</f:if>
													<f:if condition="{address.city}">
														{address.city}<br/>
													</f:if>
													<f:if condition="{address.region}">
														{address.region}<br/>
													</f:if>
													<f:if condition="{address.country}">
														{address.country}
													</f:if>
												</p>

												<p>
													<f:if condition="{address.phone}">
														<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{address.phone}<br/>
													</f:if>
													<f:if condition="{address.mobile}">
														<i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;{address.mobile}<br/>
													</f:if>
													<f:if condition="{address.fax}">
														<i class="fa fa-fax" aria-hidden="true"></i>&nbsp;{address.fax}<br/>
													</f:if>
													<f:if condition="{address.www}">
														<f:link.external uri="{address.www}" target="_blank" title="Externer Link, öffnet sich in neuem Browserfenster" class="linkExt"><i class="fa fa-desktop" aria-hidden="true"></i> Internetseite</f:link.external><br/>
													</f:if>
													<f:if condition="{address.email}">
														<f:link.email email="{address.email}" class="linkmailto"><i class="fa fa-paper-plane" aria-hidden="true"></i> eMail</f:link.email>
													</f:if>
													<f:if condition="{address.categories}">
														<br/><br/><span class="groupList">(<f:for each="{address.categories}" as="category" iteration="index"><f:if condition="{index.isFirst} != '1'">, </f:if>{category.title}</f:for>)</span>
													</f:if>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</f:for>
					</div>
				</f:case>
				<f:case value="2column">
					<table>
						<thead>
						<tr>
							<th id="anschrift">Anschrift</th>
							<th id="kontaktdaten">Infos für Behinderte</th>
						</tr>
						</thead>
						<tbody>
						<f:for each="{pagination.paginator.paginatedItems}" as="address" iteration="addressIterator">
							<tr class="{f:if(condition: addressIterator.isEven, then:'even')}{f:if(condition: addressIterator.isOdd, then:'odd')}">
								<td headers="anschrift">
									<b>{address.title} {address.firstName} {address.middleName} {address.lastName}</b><br>
									<span>{address.street}</span><br><br>
									<span>{address.zip} {address.city}</span><br><br>
									<f:if condition="{address.categories}">
										<br><br/><span class="groupList">(<f:for each="{address.categories}" as="category" iteration="index"><f:if condition="{index.isFirst} != '1'">, </f:if>{category.title}</f:for>)</span>
									</f:if>
								</td>
								<td headers="Infos für Behinderte">
									<f:if condition="{address.txTtaddresshandicappedinfoAdditionalInfo}">
										<f:format.html>{address.txTtaddresshandicappedinfoAdditionalInfo}</f:format.html>
									</f:if>
								</td>
							</tr>
						</f:for>
						</tbody>
					</table>
				</f:case>
				<f:case value="3column">
					<table>
						<thead>
						<tr>
							<th id="anschrift">Anschrift</th>
							<th id="kontaktdaten">Kontaktdaten</th>
							<th id="bemerkungen">Bemerkungen</th>
						</tr>
						</thead>
						<tbody>
						<f:for each="{pagination.paginator.paginatedItems}" as="address" iteration="addressIterator">
							<tr class="{f:if(condition: addressIterator.isEven, then:'even')}{f:if(condition: addressIterator.isOdd, then:'odd')}">

								<td headers="anschrift">
									<b>{address.company}</b><br>
									<span>{address.title} {address.name}</span><br>
									<span>{address.street}</span><br><br>
									<span>{address.zip} {address.city}</span>
								</td>
								<td headers="kontaktdaten">
									<f:if condition="{address.phone}">
										<span>Tel.:&nbsp;{address.phone}</span><br>
									</f:if>
									<f:if condition="{address.fax}">
										<span>Fax:&nbsp;{address.fax}</span><br>
									</f:if>
									<f:if condition="{address.www}">
										<f:link.external uri="{address.www}" target="_blank" title="Externer Link, öffnet sich in neuem Browserfenster" class="linkExt">Internetseite</f:link.external><br>
									</f:if>
									<f:if condition="{address.email}">
										<f:link.email email="{address.email}" class="linkmailto">eMail</f:link.email>
									</f:if>
								</td>
								<td headers="bemerkungen">
									<f:format.html>{address.description}</f:format.html>
									<f:if condition="{address.openinghours}">
										<b>&Ouml;ffnungszeiten:</b>
										<f:format.html>{address.openinghours}</f:format.html>
									</f:if>
									<f:if condition="{address.categories}">
										<br/><br/><span class="groupList">(<f:for each="{address.categories}" as="category" iteration="index"><f:if condition="{index.isFirst} != '1'">, </f:if>{category.title}</f:for>)</span>
									</f:if>
								</td>
							</tr>
						</f:for>
						</tbody>
					</table>
				</f:case>
			</f:switch>
			<f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
		</f:then>
		<f:else>
			<div class="sorry">
				{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
			</div>
		</f:else>
	</f:if>

	<script>
		function documentReadyJsHook () {
			// Hide right side list boxes when no info is given
			jQuery('.address_description').each(function() {
				if($.trim(jQuery(this).html()).length < 1)
					jQuery(this).css('display', 'none');
			});
			// Translate pagination
			jQuery('.previous > a').each(function() {
				jQuery(this).html('zur&uuml;ck');
			});
			jQuery('.next > a').each(function() {
				jQuery(this).html('weiter');
			});
			// Distance selection
			jQuery('#distance').find('option[value={distancevalue}]').attr('selected', 'selected');
		}
	</script>

</f:section>
