<f:layout name="Default"/>
<f:section name="main">
    <f:flashMessages/>
    <style>
        .listview { width: 100%; }
        .listview p { padding-top: 10px; }
        .abisz { height: 22px; text-align: center; }
        .category { margin-top: 10px; margin-bottom: 10px; }
        .search { margin-top: 10px; margin-bottom: 10px; }
        .list { border-bottom: 1px solid #999999; margin: 5px 5px 15px 5px; }
        .sorry { text-align: center; margin-top: 45px; }
        .image > img { float: right; padding: 5px; }
        .f3-widget-paginator { list-style: none; text-align: center; }
        .f3-widget-paginator > li { display: inline; }
        .f3-widget-paginator > li.current { color: #CC0000; }
        .f3-widget-paginator > li.previous, .f3-widget-paginator > li.next { display: none; }
        .f3-widget-paginator::before { content: 'Seite'; }
        .sic_address_atoz_activelink { color: #CC0000; }
        .sic_address_atoz_deadlink { color: #999999; }
    </style>

    <div class="listview">
        <f:form id="sic_address_search_form" action="search">
            <f:if condition="{atoz}">
                <f:render partial="Address/Atoz" arguments="{atoz:atoz, atozvalue:atozvalue}"/>
            </f:if>
            <div class="row">
                <div class="category col-xs-5 col-xs-offset-1">
                    <f:if condition="{categories}">
                        <f:render partial="Address/Categories"
                                  arguments="{categories:categories, categoryparentuid:categoryparentuid, categoryvalue:categoryvalue, settings:settings}"/>
                    </f:if>
                </div>
                <div class="search col-xs-5">
                    <f:if condition="{settings.queryField} != 'off'">
                        <f:form.textfield id="sic_address_query" name="query" class="tx_nicosdirectory-pi1-small"
                                          style="font-size: 12px;" value="{queryvalue}"/>
                        <f:form.submit value="Suche" class="tx_nicosdirectory-pi1-small"
                                       additionalAttributes="{onclick: 'submitQuery();'}"/>
                    </f:if>
                </div>
            </div>
        </f:form>
        <f:if condition="{addresses}">
            <f:then>
                <f:widget.paginate objects="{addresses}" as="addresspage" configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1, addQueryStringMethod: 'GET'}">
                    <f:for each="{addresspage}" as="address">
                        <div class="list row">
                            <div class="row">
                                <div class="col-md-5">
                                    <strong>{address.title} {address.firstName} {address.lastName}</strong>
                                </div>
                                <div class="col-md-7">
                                    <f:render partial="Address/ImagesSlider" arguments="{address:address}"/>
                                </div>
                            </div>
                            <f:format.html>{address.description}</f:format.html>
                        </div>
                    </f:for>
                </f:widget.paginate>
            </f:then>
            <f:else>
                <div class="list row" style="height: 100px;">
                    <div class="sorry">
                        {f:translate(key:
                        'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:search_no_hits_message')}
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>

</f:section>
