<ul class="f3-widget-paginator">
    <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
        <f:then>
            <f:comment>
                <li class="first">
                    <a href="#" onclick="return paginateTo(1);" title="{f:translate(key:'pagination.first')}">
                        <i class="material-icons">first_page</i>
                    </a>
                </li>
            </f:comment>
            <li class="previous">
                <a href="#" onclick="return paginateTo({pagination.previousPageNumber});"
                   title="{f:translate(key:'pagination.previous')}">
                    {f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}
                </a>
            </li>
        </f:then>
        <f:else>
            <f:comment>
                <li class="disabled"><span><i class="material-icons">first_page</i></span></li>
                <li class="disabled"><span>{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}</span></li>
            </f:comment>
        </f:else>
    </f:if>
    <f:if condition="{pagination.hasLessPages}">
        <li>…</li>
    </f:if>
    <f:for each="{pagination.allPageNumbers}" as="page" iteration="iter">
        <f:if condition="{iter.cycle} < 10">
            <li class="{f:if(condition: '{page} == {paginator.currentPageNumber}', then:'current')}">
                <a href="#" onclick="return paginateTo({page});">{page}</a>
            </li>
        </f:if>
    </f:for>
    <f:if condition="{pagination.hasMorePages}">
        <li>…</li>
    </f:if>
    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <f:then>
            <li class="next">
                <a href="#" onclick="return paginateTo({pagination.nextPageNumber});"
                   title="{f:translate(key:'pagination.next')}">
                    {f:translate(key:'widget.pagination.next', extensionName: 'fluid')}
                </a>
            </li>
            <f:comment>
                <li class="last">
                    <a href="#" onclick="return paginateTo({pagination.lastPageNumber});"
                       title="{f:translate(key:'pagination.last')}">
                        last
                    </a>
                </li>
            </f:comment>
        </f:then>
        <f:else>
            <f:comment>
                <li class="disabled"><span>{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}</span></li>
                <li class="disabled"><span>last page</span></li>
            </f:comment>
        </f:else>
    </f:if>
</ul>
