{namespace sic=SICOR\SicAddress\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field {col}">
    <label class="t3js-formengine-label">
        <f:if condition="{type} == 'checkbox'">
            <f:then>
                <core:icon identifier="actions-system-shortcut-active" />
            </f:then>
            <f:else>
                <f:translate key="property.{label}" />
            </f:else>
        </f:if>
    </label>
    <div class="formengine-field-item t3js-formengine-field-item field-{label}">
        <div class="form-control-wrap">
            <div class="form-wizards-wrap">
                <div class="form-wizards-element">
                    <div class="form-control-clearable{f:if(condition:'{type}==\'checkbox\'',then:' checkbox',else:'')}">
                        <f:if condition="{type} == 'checkbox'">
                            <f:then>
                                <label>
                                    <f:form.checkbox checked="{value}" title="{label}" property="{label}" name="{label}" value="1" />
                                </label>
                            </f:then>
                            <f:else>
                                <f:if condition="{type} == 'textarea'">
                                    <f:then>
                                        <f:form.textarea placeholder="{f:render(section:'placeholder',arguments:'{_all}')}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" property="{label}" name="{label}" value="{value}" rows="5" />
                                        <code>{f:render(section:'help',arguments:'{_all}')}</code>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{type} == 'select'">
                                            <f:then>
                                                <f:form.select class="form-control" property="{label}" name="{label}" value="{value}" options="{options}" optionValueField="key" optionLabelField="value"/>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{disable}">
                                                    <f:then>
                                                        <f:if condition="{uid}">
                                                            <f:then>
                                                                <f:form.textfield disabled="disabled" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" property="{label}" name="{label}" value="{value}" />
                                                            </f:then>
                                                            <f:else>
                                                                <f:form.textfield required="{require}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" property="{label}" name="{label}" value="{value}" />        
                                                            </f:else>
                                                        </f:if>                                                        
                                                    </f:then>
                                                    <f:else>
                                                        <f:render section="languages" arguments="{_all}" />
                                                    </f:else>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="field-error field-{label}-error text-danger"></span>
</div>

<f:section name="languages">
    <f:for each="{languages}" as="localLanguage" key="localLanguageUid">
        <f:if condition="{f:render(section:'locales',arguments:'{_all}')}">
            <f:then>
                {f:render(section:'locales',arguments:'{_all}')}
            </f:then>
            <f:else>
                <div style="display:flex;align-items:center;justify-content: space-between">
                    <f:if condition="{localLanguage.flag}"><strong style="margin-right:1em">{localLanguage.flag}</strong></f:if>
                    <f:form.textfield required="{require}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" placeholder="{localLanguage.title}" property="{label}s.{localLanguageUid}" value="{localProperty.tcaLabel}" />
                </div>
            </f:else>
        </f:if>        
    </f:for>
</f:section>

<f:section name="locales"><f:spaceless>
    <f:for each="{locales}" as="localProperty" key="languageUid">
        <f:if condition="{languageUid} == {localLanguageUid}">
            <div style="display:flex;align-items:center;justify-content: space-between">
                <f:if condition="{localLanguage.flag}"><strong style="margin-right:1em">{localLanguage.flag}</strong></f:if>
                <f:form.textfield required="{require}" class="form-control t3js-clearable hasDefaultValue t3js-charcounter-initialized" placeholder="{localLanguage.title}" property="{label}s.-{localProperty.uid}" value="{localProperty.tcaLabel}" />
            </div>
        </f:if>
    </f:for>
</f:spaceless></f:section>

<f:section name="placeholder"><f:spaceless>
    <f:if condition="{label} == 'tcaOverride'">
array(
    'type' => 'inline',
    ...
)
    </f:if>
    <f:if condition="{label} == 'settings'">
Item 1
Item 2
Item 3
Item 4
    </f:if>
</f:spaceless></f:section>
<f:section name="help"><f:spaceless>
    <f:if condition="{label} == 'tcaOverride'">
        <f:translate key="help_tcaOverride" />
    </f:if>
    <f:if condition="{label} == 'settings'">
        <f:translate key="help_tcaSettings" />
    </f:if>
</f:spaceless></f:section>
