{namespace sic=SICOR\SicAddress\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:if condition="{addresses}">
    <table class="table">
        <tr>
            <th><a href="javascript:" onclick="SicAddress.ajaxClose(this)"><core:icon size="default" identifier="actions-close"/></a></th>
            <f:for each="{properties}" as="property">
                <th><a href="javascript:" onclick="SicAddress.ajaxActivateField(this)">{property.title}</a></th>
            </f:for>
        </tr>
        <f:for each="{addresses}" as="addr" iteration="iter">
            <tr id="address{a.uid}">
                <td>
                    <f:if condition="{iter.index}">
                        <a href="javascript:" onclick="SicAddress.deleteDoublet(this)" data-href="{f:uri.action(action:'ajaxDeleteDoublet',arguments:{address:'{a.uid}'})}">
                            <core:icon identifier="actions-delete" size="default" />
                        </a>
                    </f:if>
                </td>
                <f:for each="{properties}" as="property">
                    <td draggable="true" data-uid="{a.uid}" data-property="{property.title}">
                        <sic:getModelValue property="{property.title}" model="{addr}" />
                    </td>
                </f:for>
            </tr>
        </f:for>
    </table>
</f:if>
