{namespace sic=SICOR\SicAddress\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <h1><f:translate key="BackendListTitle" /></h1>

    <f:if condition="{errorMessages}">
        <f:then>
            <f:for each="{errorMessages}" as="message">
                <div class="alert alert-danger">{message}</div>
            </f:for>
        </f:then>
        <f:else>
            <div class="alert alert-success"><f:translate key="label_extension_successfully_updated" /></div>
        </f:else>
    </f:if>

    <f:link.action action="list" controller="Module">back</f:link.action>
</f:section>
