{namespace sic=SICOR\SicAddress\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <link rel="stylesheet" type="text/css" href="/fileadmin/templates/bootstrap/css/bootstrap.min.css" media="all">

    <h2>Import from tt_address</h2>
    <hr />
    <ol>
        <li><p>Activate <b>ttAddressMapping</b> in Extension Manager Configuration</p></li>
        <li><p>Run Importer</p></li>
        <li><p>Add "Beschriftung"</p></li>
        <li><p>Set "Standardfeld" (If field ist from default tt_address)</p></li>
        <li><p>Set Field Type</p></li>
        <li><p>Generate Model</p></li>
    </ol>

    <f:link.action action="list" controller="Module">back</f:link.action>
</f:section>
