{namespace sic=SICOR\SicAddress\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <h2><f:translate key="BackendListTitle" /></h2>

    <f:if condition="{errorMessages}">
        <f:then>
            <f:for each="{errorMessages}" as="message">
                <div class="alert alert-danger">{message}</div>
            </f:for>
        </f:then>
    </f:if>

    <div class="container-fluid table">
        <f:if condition="{properties}">
            <f:then>
                <ul>
                    <f:for each="{properties}" as="property">
                        <f:if condition="{property.external} == '0'">
                            <li>
                                <f:form action="update" controller="DomainProperty" object="{property}" objectName="domainProperty">
                                    <div class="row tr">
                                        <div class="col-sm-3 td">
                                            <label>Datebank Feldname:</label>
                                            <f:form.textfield disabled="true" property="title" value="{property.title}" />
                                        </div>
                                        <div class="col-sm-3 td">
                                            <label>Beschriftung:</label>
                                            <f:form.textfield property="tcaLabel" value="{property.label}" />
                                        </div>
                                        <div class="col-sm-3 td">
                                            <label>TCA Override:</label>
                                            <f:form.textarea property="tcaOverride" value="{property.tcaOverride}" />
                                        </div>
                                        <div class="col-sm-3 td">
                                            <label>Einstellungen:</label>
                                            <f:form.textarea property="settings" value="{property.settings}" />
                                        </div>
                                    </div>
                                    <div class="row tr">
                                        <div class="col-sm-3 td">
                                            <label>Teil des Labels:</label>
                                            <f:form.checkbox property="isListLabel" value="property.isListLabel" />
                                        </div>
                                        <div class="col-sm-3 td">
                                        </div>
                                        <div class="col-sm-3 td">
                                            <label>Feld Typ:</label>
                                            <f:form.select class="form-control" property="type" value="{property.type.title}" options="{fieldTypes}" optionValueField="key" optionLabelField="value"/>
                                        </div>
                                        <div class="col-sm-3 td">
                                            <f:form.submit class="btn btn-success" value="Save" />
                                            <f:link.action class="btn btn-danger" action="delete" controller="DomainProperty" arguments="{domainProperty: property}">Delete</f:link.action>
                                        </div>
                                    </div>
                                </f:form>
                            </li>
                        </f:if>
                    </f:for>
                </ul>
            </f:then>
        </f:if>
        <div class="row tr">
            <ul>
                <li>
                    <f:form id="createDomainTemplate" action="create" controller="DomainProperty" name="newDomainProperty" object="{newDomainProperty}" >
                        <div class="row tr">
                            <div class="col-sm-3 td">
                                <label>Datebank Feldname:</label>
                                <f:form.textfield property="title" />
                            </div>
                            <div class="col-sm-3 td">
                                <label>Beschriftung:</label>
                                <f:form.textfield property="tcaLabel" />
                            </div>
                            <div class="col-sm-3 td">
                                <label>TCA Override:</label>
                                <f:form.textarea property="tcaOverride" />
                            </div>
                            <div class="col-sm-3 td">
                                <label>Einstellungen:</label>
                                <f:form.textarea property="settings" />
                            </div>
                        </div>
                        <div class="row tr">
                            <div class="col-sm-3 td">
                                <label>Teil des Labels:</label>
                                <f:form.checkbox property="isListLabel" value="" />
                            </div>
                            <div class="col-sm-3 td">
                            </div>
                            <div class="col-sm-3 td">
                                <label>Feld Typ:</label>
                                <f:form.select class="form-control" property="type" options="{fieldTypes}" optionValueField="key" optionLabelField="value"/>
                            </div>
                            <div class="col-sm-3 td">
                                <f:form.submit class="btn btn-success" value="Save" />
                            </div>
                        </div>
                    </f:form>
                </li>
            </ul>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-4">
            <f:link.action id="generateAction" class="btn btn-primary" action="create">Generate Model, TCA, i18n, DB</f:link.action>
            <f:link.external class="btn btn-success" target="sicor" uri="https://www.sicor-kdl.net/index.php?id=111"><f:translate key="HelpButtonLabel"/></f:link.external>
        </div>
        <div class="col-sm-2 col-sm-offset-5">
            <a
                    data-delete-uri="{f:uri.action(action:'deleteFieldDefinitions',arguments:'{external : \'0\'}')}"
                    class="btn btn-danger delete"
                    data-modal-title="{f:translate(key:'Attention')}"
                    data-modal-type="error"
                    data-modal-content="{f:translate(key:'DeleteCustomFieldsLabel')}"
                    data-modal-button-cancel="{f:translate(key:'Cancel')}"
                    data-modal-button-delete="{f:translate(key:'Delete')}"
            >
                <f:translate key='DeleteCustomFieldsLabel'/>
            </a>
        </div>
    </div>

    <h2><f:translate key="BackendImporterListTitle" /></h2>

    <f:form action="importTTAddress" controller="Import">
        <f:form.submit class="btn btn-primary" value="<f:translate key='BackendImporterButtonLabel'/>" />
        <a
                data-delete-uri="{f:uri.action(action:'deleteFieldDefinitions',arguments:'{external : \'1\'}')}"
                class="btn btn-danger delete"
                data-modal-title="{f:translate(key:'Attention')}"
                data-modal-type="error"
                data-modal-content="{f:translate(key:'DeleteTTAddressFieldsLabel')}"
                data-modal-button-cancel="{f:translate(key:'Cancel')}"
                data-modal-button-delete="{f:translate(key:'Delete')}"
        >
            <f:translate key='DeleteTTAddressFieldsLabel'/>
        </a>
    </f:form>
    
</f:section>
