<div class="sic_address_atoz">
    <f:form.hidden id="sic_address_atoz" name="atoz" value="{atozvalue}"/>
    <f:for each="{atoz}" as="value">
        <f:if condition="{value.active}">
            <f:then>
                <f:if condition="{value.character} == {atozvalue}">
                    <f:then>
                        <span class="sic_address_atoz_activelink">{value.character}</span>
                    </f:then>
                    <f:else>
                        <f:if condition="{value.character} == {value.character -> f:format.crop(maxCharacters:1, append:'')}">
                            <f:then>
                                <f:comment><!-- single character --></f:comment>
                                <f:link.action class="sic_address_atoz_link" action="search" arguments="{atoz:value.character}">{value.character}</f:link.action>
                            </f:then>
                            <f:else>
                                <f:comment><!-- "all" --></f:comment>
                                <f:link.page class="sic_address_atoz_link">{value.character}</f:link.page>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <span class="sic_address_atoz_deadlink">{value.character}</span>
            </f:else>
        </f:if>
    </f:for>
</div>
