<f:switch expression="{settings.categoryType}">
    <f:case value="breadcrumbs">
        <todo />
    </f:case>
    <f:case value="dropdown">
        <f:form.select name="category" options="{categories}" optionValueField="uid" optionLabelField="title" value="{categoryvalue}"
                       class="address_category_dropdown" additionalAttributes="{onchange: 'submitCategory();'}"
                       prependOptionValue="{categoryparentuid}" prependOptionLabel="{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:noselect_category_label')}" />
    </f:case>
    <f:case value="selectbox">
        <f:form.select name="category" options="{categories}" optionValueField="uid" optionLabelField="title" value="{categoryvalue}"
                       class="address_category_selectbox" size="5" additionalAttributes="{onchange: 'submitCategory();'}"
                       prependOptionValue="{categoryparentuid}" prependOptionLabel="{f:translate(key: 'LLL:EXT:sic_address/Resources/Private/Language/locallang.xlf:noselect_category_label')}" />
    </f:case>
</f:switch>