<f:if condition="{address.image}">
    <f:for each="{address.image}" as="image">
        <f:if condition="{address.clickenlarge}">
            <f:then>
                <a href="{image.originalResource.publicUrl}" class="lightbox">
                    <f:image treatIdAsReference="1" src="{image.uid}"
                             width="{f:if(condition:'{imageWidth}',then:'{imageWidth}',else:'120c')}"
                             height="{f:if(condition:'{imageHeight}',then:'{imageHeight}',else:'')}" />
                </a>
            </f:then>
            <f:else>
                <f:image treatIdAsReference="1" src="{image.uid}"
                         width="{f:if(condition:'{imageWidth}',then:'{imageWidth}',else:'120c')}"
                         height="{f:if(condition:'{imageHeight}',then:'{imageHeight}',else:'')}" />
            </f:else>
        </f:if>
    </f:for>
</f:if>
