{namespace sic=SICOR\SicAddress\ViewHelpers}

<script src="/typo3conf/ext/sic_address/Resources/Public/Javascript/leaflet/leaflet.js" type="text/javascript"></script>
<link href="/typo3conf/ext/sic_address/Resources/Public/Javascript/leaflet/leaflet.css" type="text/css" rel="stylesheet" />

<style>
    .tx-sic-address .map { width:100%; min-height:500px }
</style>

<div id="sic_address_map_{contentUid}" class="map"></div>
<f:format.raw>
    <sic:openStreetMap id="{contentUid}" markers="{addresses}" center="{centerAddress}" radius="{radius}" settings="{mapSettings}"/>
</f:format.raw>
