<f:form action="map" class="row">
    <f:form.textfield name="center" class="col" value="{args.center}" placeholder="Strasse/Nr, PLZ, Ort, ..."/>
    <f:form.select name="country" class="col" additionalAttributes="{onchange: 'this.form.submit()'}" options="{countries}" value="{args.country}" prependOptionLabel="Land" prependOptionValue="" />
    <f:form.select name="distance" class="col" additionalAttributes="{onchange: 'this.form.submit()'}" options="{distances}" value="{args.distance}" prependOptionLabel="Umkreis" prependOptionValue="" />
</f:form>
