/* ************** */
/* Backend Module */
/* ************** */
body { overflow: auto;}

input[type="text"], textarea {width: 100%;}
input[type="text"], textarea {padding: 10px;border: none;border-bottom: solid 2px #c9c9c9;transition: border 0.3s;}
input[type="text"]:focus,textarea:focus {border-bottom: solid 2px #969696;box-shadow: none;}

.container-fluid {padding: 0;}
.table .tr, .table ul {margin: 0;padding: 0;}
.table .tr {padding: 10px 0;}
.table .td {padding: 5px;}
.table ul li {background: white;list-style: none;padding: 5px;margin-bottom: 10px;}
.table ul li:hover {background: #efefef;list-style: none;padding: 5px;margin-bottom: 10px;}

span.btn.external { margin-right: 1em; margin-bottom: 1em }

ul#sic_address_properties > li .switch { border-bottom: 1px solid black }
ul#sic_address_properties > li .switch strong.listLabel { text-transform: uppercase }
ul#sic_address_properties > li form { display:none }

/* ********************* */
/* Backend Export Module */
/* ********************* */
.export li {list-style: none;}

h1.generate {
    animation-name: blinki;
    -webkit-animation-duration: .999s;
    -moz-animation-duration: .999s;
    -o-animation-duration: .999s;
    animation-duration: .999s;
    animation-iteration-count: infinite;
}

@keyframes blinki {
    0% { opacity:0 }
    25% { opacity:0.5 }
    50% { opacity:1 }
    75% { opacity:0.5 }
    100% { opacity:0.25 }
}

form#doublets .fields ul.internal {
    color: #030;
}
form#doublets .fields ul.external {
    opacity: 0.5;
}

form#doublets label:not(.btn) {
    opacity: 0.5;

    padding: 0.125em 0.25em;
}
form#doublets label.active {
    opacity: 1;
}

table.doublets.ajax .isDoublet { background:#fee }