{namespace sic=SICOR\SicAddress\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:layout name="Module" />
<f:section name="content">
    <h2><f:translate key="BackendListTitle" extensionName="SicAddress"/>
        <f:if condition="{external} == 0">
        <span class="btn btn-default sortableHandle ui-sortable-handle field-new sicaddproperty" title="Add new property">
            <core:icon identifier="actions-add" />
        </span>
        </f:if>
    </h2>
    <f:if condition="{ttAddressMapping}">
        <f:form action="list">
            <f:for each="{types}" as="type" key="value">
                <f:form.radio class="sicinternexternradio" name="external" value="{value}" checked="{value} == {external}"/> {type}
            </f:for>
        </f:form>
    </f:if>
    <f:if condition="{errorMessages}">
        <f:then>
            <f:for each="{errorMessages}" as="message">
                <div class="alert alert-danger">{message}</div>
            </f:for>
        </f:then>
    </f:if>
    <f:if condition="{external}">
        <f:then>
            <h2>tt_address</h2>
            <f:for each="{properties}" as="property">
                <f:render partial="Property/External" arguments="{_all}" />
            </f:for>
        </f:then>
        <f:else>
            <div data-title="Properties" id="sic_address_properties">
                <f:if condition="{properties}">
                    <f:for each="{properties}" as="locales">
                        <f:for each="{locales}" as="property" key="languageUid">
                            <f:if condition="{languageUid} == 0">
                                <f:if condition="{property.0.external} == {external}">
                                    <f:if condition="{property.0.external}">
                                        <f:then>
                                            <f:render partial="Property/External" arguments="{_all}" />
                                        </f:then>
                                        <f:else>
                                            <f:render partial="Property/Form" arguments="{_all}" />
                                        </f:else>
                                    </f:if>
                                </f:if>
                            </f:if>
                        </f:for>
                    </f:for>
                </f:if>
                <f:render partial="Property/Form" arguments="{_all}" />
            </div>
            <f:form id="sortingForm" target="sortingIframe" controller="DomainProperty" action="sort">
                <f:form.hidden class="sorting" name="ordered" value="" />
            </f:form>
        </f:else>
    </f:if>
    <hr />
    <f:if condition="{external} == 0">
        <f:then>
            <div class="row">
                <div class="col-sm-5">
                    <f:link.action id="generateAction" class="btn btn-warning" action="create">
                        <strong>
                            <f:translate key="Generate" extensionName="SicAddress"/>
                            Model, TCA, i18n, DB</strong>
                        <br>
                        (<i><f:translate key="override_autogenerated_partial" extensionName="SicAddress"/></i>)
                    </f:link.action>
                    <f:link.external class="btn btn-success" target="sicor" uri="https://www.sicor-kdl.net/index.php?id=111"><f:translate key="HelpButtonLabel" extensionName="SicAddress"/></f:link.external>
                </div>
                <div class="col-sm-2 col-sm-offset-3">
                    <a data-delete-uri="{f:uri.action(action:'deleteFieldDefinitions',arguments:'{external : \'0\'}')}"
                            class="btn btn-danger delete"
                            data-modal-title="{f:translate(key:'Attention', extensionName:'SicAddress')}"
                            data-modal-type="error"
                            data-modal-content="{f:translate(key:'DeleteCustomFieldsLabel', extensionName:'SicAddress')}"
                            data-modal-button-cancel="{f:translate(key:'Cancel', extensionName:'SicAddress')}"
                            data-modal-button-delete="{f:translate(key:'Delete', extensionName:'SicAddress')}">
                        <f:translate key='DeleteCustomFieldsLabel' extensionName="SicAddress"/>
                    </a>
                </div>
            </div>
            <p>&nbsp;</p>
        </f:then>
        <f:else>
            <h2><f:translate key="BackendImporterListTitle" extensionName="SicAddress"/></h2>
            <f:form action="importTTAddress" controller="Module">
                <f:if condition="{ttAddressMapping}">
                    <f:then>
                        <f:form.submit class="btn btn-primary" value="<f:translate key='BackendImporterButtonLabel' extensionName='SicAddress'/>" />
                    </f:then>
                    <f:else>
                        <f:form.submit disabled="true" class="btn btn-primary disabled" value="<f:translate key='BackendImporterButtonLabel' extensionName='SicAddress'/>" />
                    </f:else>
                </f:if>
                <a data-delete-uri="{f:uri.action(action:'deleteFieldDefinitions',arguments:'{external : \'1\'}')}"
                        class="btn btn-danger delete {f:if(condition:'{ttAddressMapping}',then:'',else:'disabled')}"
                        data-modal-title="{f:translate(key:'Attention', extensionName:'SicAddress')}"
                        data-modal-type="error"
                        data-modal-content="{f:translate(key:'DeleteTTAddressFieldsLabel', extensionName:'SicAddress')}"
                        data-modal-button-cancel="{f:translate(key:'Cancel', extensionName:'SicAddress')}"
                        data-modal-button-delete="{f:translate(key:'Delete', extensionName:'SicAddress')}">
                    <f:translate key='DeleteTTAddressFieldsLabel' extensionName="SicAddress"/>
                </a>
            </f:form>
        </f:else>
    </f:if>
</f:section>
